[Unit]
Description=Firstboot Service
After=default.target

[Service] 
ExecStart=/usr/local/bin/firstboot-sys-client
Type=simple

[Install]
WantedBy=default.target
